# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
ASM/Misc/Store Version Number.asm
ASM/Misc/Overwrite Compile Date.asm

# ==========================
# Project files
# ==========================
Build\ TM\ Codeset/mac/gecko
Additional\ ISO\ Files/codes.gct
Additional\ ISO\ Files/Start.dol


# Mac files
.DS_Store
